@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background: radial-gradient(circle at center,
      rgba(31, 55, 86, 1),
      rgba(20, 21, 57, 1));
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 100%;
}

.bubble {
  /* Background color of the div */
  padding: 20px;
  /* Adjust padding as needed */
  box-shadow:
    0 0 0 25px rgba(81, 87, 98, 0.2),
    /* First bubble */
    0 0 0 60px rgba(81, 87, 98, 0.2),
    /* Second bubble */
    0 0 0 100px rgba(81, 87, 98, 0.2);
  /* Third bubble */
  z-index: -100;
  /* Ensure the content stays above the shadows */
}